# Image processing
numpy==1.19.5   # 1.16.6缺少模块，使用1.19.5版本
scipy==1.7.3    # 1.4.1编译安装失败，使用1.7.3版本
pillow
opencv-python-headless
imageio==2.27.0

# Device connection
adbutils==0.11.0
uiautomator2==2.16.17
uiautomator2cache==0.3.1  # 0.3.0.1缺少atx-agent_0.10.0_linux_arm64.tar.gz，使用0.3.1版本
wrapt==1.13.1
retrying
lz4
# av==10.0.0    # av需要编译安装。Dockerfile中已编译安装
psutil==5.9.3

# Utils
rich==11.2.0
tqdm
jellyfish==0.11.2
pyyaml
inflection
pydantic
aiofiles
prettytable==2.2.1
anyio==1.3.1

# Pushing
onepush==1.4.0
pycryptodome==3.9.9
pypresence==4.2.1

# Ocr
cnocr==1.2.2
# mxnet==1.6.0  # mxnet-1.6.0缺失libmxnet.so文件，1.9.1有但是残缺需要其他依赖库。在Dockerfile中引入外部包安装

# Webui
pywebio==1.6.2
starlette==0.14.2
uvicorn[standard]==0.17.6
zerorpc==0.6.3
pyzmq==22.3.0